<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Ln Log - Status</title>
    </head>
    <body>
        <h1 style="font-size: 24px; color: whitesmoke">APP Process Number:<h1 style="font-size: 24px; color: rgb(42, 112, 216); display: inline-block;">&nbsp;626563<br>&nbsp;626635</h1></h1>
        <h1 style="font-size: 24px; color: whitesmoke">NGROK Process Number:<h1 style="font-size: 24px; color: rgb(116, 170, 241); display: inline-block;">&nbsp;630075</h1></h1>
        <br>
        <br>
        <section class="console-section">
            <% innerFile.forEach(function(inf){ %>
                <li class="command-line"><p class="magic-symbol">$&nbsp;</p><%=inf.replaceAll('"', '\'')%></li>
            <% }) %>
        </section>
    </body>
</html>